body{
    text-align: center;
    background-color: aqua;
    font-size: medium;
}
#ultimo{
    background-color: rgb(241, 241, 181);
    color: blue;
    border: black 4px solid;
    border-radius: 5px;
}