body{
    text-align: center;
    background-color: white;
    font-size: medium;
}
#ramauno {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: auto;
    font-size: 10px;
    border: blue 4px solid;
    background-color: rgb(83, 168, 224);
    color: rgb(248, 227, 227);
    padding: 20px 10px;
}
#ultimoParrafo{
    color: blue;
    border: chartreuse 4px solid;
}